.anchor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--gray-500);
  border-radius: 0.3rem;
  padding: 0.5rem;
  align-items: center;
  gap: 0.5rem;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 0 2rem;
}

button {
  font-weight: 600;
  height: 5rem;
  width: 7rem;
}
